Adaptations
<ul>
{{#each adaptations}}
<li>
	<ul>
  <li>name: {{name}}</li>
  <li>screenWriter: {{screenWriter}},</li>
  <li>director: {{director}},</li>
  <li>company: {{company}},</li>
  <li>country: {{country}},</li>
  <li>year: {{year}},</li>
  <li>link: <a href="{{link}}">Click Here</a></li>
  </ul>
  </li>
{{/each}}
</ul>
<div><a href="/littleMermaid/adaptations/search">Search by Country</a></div>

{{#if user}}
<div><a href="/suggest">Suggest</a> | <a href="/suggestionsList">Suggestions List</a></div>
{{else}}
<div><a href="/login">Log In</a> | <a href="/login/register">Register</a></div>
{{/if}}
{{#if admin}}
<a href = "/login/maintain">Maintain</a>
{{/if}}