Adaptations
<ul>
{{#each adaptations}}
<li>
	<ul>
  <li>name: {{name}}</li>
  <li>screenWriter: {{screenWriter}},</li>
  <li>director: {{director}},</li>
  <li>country: {{country}},</li>
  <li>year: {{year}},</li>
  <li>link: <a href="{{link}}">Click Here</a></li>
  </ul>
  </li>
{{/each}}
</ul>
<a href="/login">Log In</a> | <a href="/login/register">Register</a>