<h1>{{title}}</h1>
<ul>
{{#each adaptations}}
<li>
	<ul>
  <li>name: {{name}}</li>
  <li>screenWriter: {{screenWriter}},</li>
  <li>director: {{director}},</li>
  <li>company: {{company}},</li>
  <li>country: {{country}},</li>
  <li>year: {{year}},</li>
  <li>link: <a href="{{link}}">Click Here</a></li>
  </ul>
  </li>
{{/each}}
</ul>
<div><a href="/">HomePage</a></div>
<div><a href="/about">About The Little Mermaid</a></div>
<div><a href="/littleMermaid/adaptations/search">Search by Country</a></div>

{{#if user}}
<div><a href="/auth/suggest">Suggest</a> | <a href="/auth/suggestionsList">Suggestions List</a></div>
<div><a href="/auth/logout">Log Out</a></div>
{{else}}
<div><a href="/auth/login">Log In</a> | <a href="/auth/register">Register</a></div>
{{/if}}
{{#if admin}}
<a href = "/auth/maintain">Maintain</a>
{{/if}}