<h1>{{title}}</h1>

<p>Original List</p>

<ul>
{{#each officialAdaptations}}
<li>
	<ul>
  <li>name: {{name}}</li>
  <li>screenWriter: {{screenWriter}},</li>
  <li>director: {{director}},</li>
  <li>country: {{country}},</li>
  <li>year: {{year}},</li>
  <li>link: <a href="{{link}}">Click Here</a></li>
  </ul>
  </li>
{{/each}}
</ul>

<form method="POST" action="/login/maintain/add">
title <input type="text" id="name" name="name">
director <input type="text" id="director" name="director">
screenwriter <input type="text" id="screenWriter" name="screenWriter">
company <input type="text" id="company" name="company">
country <input type="text" id="country" name="country">
year <input type="number" id="year" name="year">
link <input type="string" id="link" name="link">
<input type="submit">
</form>
<div id="aboutLink"></div>

<p>List Sugggestions with checkmarks</p>
<form method="POST" action="/login/maintain/check">
<ul>
{{#each suggestedAdaptations}}
<input type="radio"  name="radio" value = "{{director}}" ><li>
	<ul>
  <li>name: {{name}}</li>
  <li>screenWriter: {{screenWriter}},</li>
  <li>director: {{director}},</li>
  <li>country: {{country}},</li>
  <li>year: {{year}},</li>
  <li>link: <a href="{{link}}">Click Here</a></li>
  </ul>
  </li></input>
{{/each}}
</ul>
<input type="submit">
</form>
<div><a href="/">HomePage</a></div>
<script src='/javascripts/jquery.js'></script>
  

<script src='/javascripts/clientSideFormValidation.js'></script>