<h1>{{title}}</h1>
<ul>
{{#each suggestedAdaptations}}
<li>
	<ul>
  <li>name: {{name}}</li>
  <li>screenWriter: {{screenWriter}},</li>
  <li>director: {{director}},</li>
  <li>country: {{country}},</li>
  <li>year: {{year}},</li>
  <li>link: <a href="{{link}}">Click Here</a></li>
  </ul>
  </li>
{{/each}}
</ul>
<div><a href="/">HomePage</a></div>
<div><a href="/about">About The Little Mermaid</a></div>
<a href="/login/suggest">Suggest</a>
<a href = "/littleMermaid/adaptations">Official Adaptations List</a>